/* Styles go here */

app,
widgets {
  display: block;
  font-family: arial, sans-serif;
}

body {
  background: #212121;
  padding: 10px 0 30px;
}

.page-header h1 {
  color: #fff;
}

.grid-stack-item-content {
  font-family: arial, sans-serif;
}

.widget {
  overflow: auto;
}

.widget__title {
  position: relative;
  margin: 0;
  padding: 12px;
  background: #607d8b;
  color: #fff;
  font-size: .9em;
}

.widget__actions {
  position: absolute;
  top: 12px;
  right: 10px;
}

.widget__action {
  cursor: pointer;
}

.widget__action.material-icons {
  font-size: 18px;
  font-weight: 300 !important;
}

.widget__action-handle {    
  cursor: move;
}

.widget__action-delete {
  color: #ff5722;
}

.widget__body {
  padding: 8px;
  background: white;
  font-size: 14px;
}